<h2>My Certificates</h2>
<!--  
<div>
  <label for="new-certificates">Certificate name: </label>
  <input id="new-certificates" #certificateName />
-->
  <!-- (click) passes input value to add() and then clears the input
  <button type="button" class="add-button" (click)="add(certificateName.value); certificateName.value=''">
    Add Certificate
  </button>
</div>
 -->
 <!--
<ul class="certificates">
  <li *ngFor="let certificate of certifications">
      <a routerLink="/detail/{{certificate.id}}">
      <span class="badge">{{certificate.id}}</span> {{certificate.name}}
    </a>
    
    <span class="badge">{{certificate.id}}</span> {{certificate.name}}
    <button type="button" class="delete" title="delete certificate"
      (click)="delete(certificate)">x</button>
  </li>
</ul>
-->